/* ----------------------------------------------{ Desktop View} */
@media (max-width: 3580px) {
    .rightNavBar{
        display: flex;
        justify-content: end;
        height: 100%;
        color: #ffb703;
    }
    .navItem5{
        display: none;
        color: #ffb703;
    }
    .benefitFeature{
    width: 30%;
    margin: 1em;
    font-size: xx-large;
    text-align: center;
    }
    .conGoal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #023047;
    padding: 2em;
    }
  }

/* -----------------------------------------------------[End Of Desktop] */


/* ----------------------------------------------{ Mid View - Ipad / Tablet} */
@media (max-width: 1080px) {
    .rightNavBar{
        display: flex;
        justify-content: end;
        height: 100%;
        color: #ffb703;
    }
    .navItem5{
        display: none;
        color: #ffb703;
    }
    .benefitFeature{
    width: 50%;
    margin: 1em;
    font-size: xx-large;
    text-align: center;
    }
    .conGoal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #023047;
    padding: 2em;
    }
  }

/* -----------------------------------------------------[End Of MidView] */


/* ----------------------------------------------{ Mobile View} */
@media (max-width: 605px) {
    .rightNavBar{
        display: none;
        justify-content: end;
        height: 100%;
        color: #ffb703;
    }
    .navItem5{
        display: block;
        color: #ffb703;
    }
    .benefitFeature{
    width: 100%;
    margin: 1em 0 1em 0;
    font-size: x-large;
    text-align: center;
    }
    .conGoal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #023047;
    padding: 0px;
    }
}
/* -----------------------------------------------------[End Of Mobile] */


/* ---------------------------------------------------[ General ] */

.navBar{
    display: flex;
    height: 3vh;
    justify-content: space-between;
    align-items: center;
    background-color: #219ebc;
    color: #ffb703;

}
.leftNavBar{
   height: 100%;
   color: #ffb703;
}
.navCompanyLogo{
    display: flex;
    height: 100%
}


a{
    text-decoration: none;
    color: #ffb703;
}


.serviceLink{
    display: inline-flex;
    white-space: nowrap;
    height: 100%;
    align-items: center;
    margin-right:  5%;
}
.signUpLink{
    display: inline-flex;
    white-space: nowrap;
    height: 100%;
    align-items: center;
}
.historyLink{
    display: inline-flex;
    white-space: nowrap;
    height: 100%;
    align-items: center;
    margin-right:  3%;
}
.homepageLink{
    display: inline-flex;
    white-space: nowrap;
    height: 100%;
    align-items: center;
    margin-right:  3%;
}
.navItem4{
    display: inline-flex;
    white-space: nowrap;
    height: 100%;
    align-items: center;
}
.btn-primary{
    background-color: transparent;
    border: 0;
    display: inline-flex;
    white-space: nowrap;
    height: 100%;
    align-items: center;
    color: #ffb703;
}
.btn-primary:hover{
    background-color: transparent;
    color: #ffb703;
}
.btn.btn-primary.dropdown-toggle{
    padding: 0;
}
.btn.btn-primary.dropstart{
    padding: 3px 6px;
}

.dropstart{
    height: 100%;
}
.dropdown-center{
    height: 100%;
} 


.dropdown-toggle{
 height: 100%;
}
.offCanvasLinkMenu{
    display: inline-flex;
    white-space: nowrap;
    height: 100%;
    align-items: center;
}
.offCanvasMenuOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}
.offCanvasItem4{
    display: inline-flex;
    white-space: nowrap;
    height: 100%;
    align-items: center;
    margin-right: 5%;
}

/* ---------- Navigation Bar above */

.servicePageContainer{
    display: flex;
    flex-flow: column;
    background-color: #023047;
}

.historyPageContainer{
    display: flex;
    flex-flow: column;
    background-color: #8ecae6;
}
/* Page Containers above */
.serviceSellProp{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1em;
    background-color: #8ecae6;
}
.serviceMainHead{
    font-size: large;
    font-weight: 600;
    text-align: center;
    color: #fb8500;
}
.serviceSuppHead{
    font-size: medium;
    text-align: center;
    color: #ffb703;
}
.serviceHero1{
    position: relative;
    display: flex;
    max-height: 70vh;
    width: 100%;
}
.serviceHeroImage{
    width: 100%;
    
}
.serviceHeroDescr{
    position: absolute;
    left: 2%; 
    color: purple;
    padding: 10px 20px; 
    font-size: 3.5vw; 
    font-weight: bold;
    background-color: rgba(22, 216, 53, 0.3);
}

.serviceSeparator{
    background-color: #023047;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    padding: 1em 1em .5em 1em;
}
.serviceSeparatorTitle{
    font-size: large;
    text-align: center;
    font-weight: 500;
    color: #ffb703;
}
.serviceSeparatorDesc{
    font-size: medium;
    text-align: center;
    font-weight: 400;
    color: #8ecae6;
}
.serviceSeparatorDesc2{
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    color: #fb8500;
}
.serviceSeparatorQuote{
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    color: #fb8500; 
}
.serviceSeparatorQuote2{
    font-size: medium;
    text-align: center;
    font-weight: 400;
    color: #8ecae6; 
}
/* Services selling Proposition Above */

table, th, td {
    border: 1px solid black;
    border-collapse: separate;
    background-color: #219ebc;
    color: #ffb703;
    animation-name: tableChange;
    animation-duration: 10s;
}
/* table above */

.historySellProp{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1em;
    background-color: #8ecae6;
}
.historyMainHead{
    font-size: large;
    font-weight: 600;
    text-align: center;
    color: #fb8500;
}
.historySuppHead{
    font-size: medium;
    text-align: center;
    color: #ffb703;
}
.historyHero1{
    position: relative;
    display: flex;
    max-height: 91vh;
    width: 100%;
}
.historyHeroImage{
        width: 100%;
}
.historyHeroDescr{
    position: absolute;
    top: 65%;
    color: purple;
    padding: 10px 20px; 
    text-align: center;
    font-size: 3vw; 
    font-weight: bold;
    background-color: rgba(22, 216, 53, 0.3);
}

.historyDetailsContainer{
    display: flex;
    flex-flow: column;
}
.historyDetailsTitle{
    margin: 2em 0 0 0;
    text-align: center;
    font-size:xx-large;
    background-color: #219ebc;
    
    color: #fb8500;
}
.historyDetailsSubTitle{
    text-align: center;
    font-size: x-large;
    font-style: italic;
    margin: 1em 0 0 0;
    color: #ffb703;
}
.historyDetailsDescription{
    text-align: center;
    list-style-position: inside;
    color: #023047;
}
.historyDetailsList{
    font-weight: bold;
    padding: 0;
}
/* History selling Proposition Above */

.sellProp{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1em;
    background-color: #8ecae6;
}
.mainHead{
    font-size: large;
    font-weight: 600;
    text-align: center;
    color: #fb8500;
}
.suppHead{
    font-size: medium;
    text-align: center;
    color: #ffb703;
}
/* index.html Selling Proposition above*/
.hero1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid green; */
    background-color: #023047;
    color: #219ebc;
    
}
.heroImage{
    /* height: 300px; */
    width: 100%;
    animation: heroTransformation 1.5s 2 linear;
}
.heroDescr{
    width: 30;
    font-size: medium;
    font-size: x-large;
    text-align: center;
    margin: 1em;
}
/* Hero Image above */
.benefitOf{
    
    background-color: #219ebc;
    color: #ffb703;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Benefits of Offering above */
.socialProof{
    background-color: #8ecae6;
    padding: 1em;
}
.socialQuotes{
    color: #023047;
    text-align: center;
}
/* Social Proof above */

.conTitle{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: #fb8500;
    padding: 1em 1em .5em 1em;
}
.conSubTitle{
    font-size: large;
    text-align: center;
    color: #ffb703;
    padding: 1em;
}
.conSubTitle2{
    font-size: large;
    text-align: center;
    color: #8ecae6;
    padding: 0 1em 2em 1em;

}

.navigationOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourStoryButton{
    background-color: #fb8500;
    color: #023047;
    font-size: large;
    border: 0;
    margin: 1em;
}
.navigationSeparator{
    color:#8ecae6;
    text-align: center;
}
.whatWeDoButton{
    background-color: #fb8500;
    color: #023047;
    font-size: large;
    border: 0;
    margin: 1em;
}

.signUpDeal{
    width: 100%;
}

/* ---------------------------- keyframe animations below */
@keyframes tableChange{
    from{background-color: #ffb703 }
    to{ background-color: #219ebc}
}

@keyframes heroTransformation {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}